<!DOCTYPE html>
<html lang="zh">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="C:\Users\user\Desktop\20181023\myapp\src\app\anan\anan.component.css">
  <title>MyApp</title>

</head>

<body>
<!-- https://monosnap.com/file/jEyRhdmYFQ2AoGCDy0webIJ1NeqInJ.png -->
  <div class="left">
    <div class="myLeftView">

      <div class="pic">
        <img src="/assets/images/cheer.gif" width="150" height="150">
      </div>

      <div class="space"></div>
      <h1>
        <div class="zh_name">余柏安</div>
        <div class="en_name">Boan Yu</div>
      </h1>

      <h1>
        <div class="zh_info">聯絡資訊</div>
      </h1>
      <div class="french_fries"></div>
      <div class="email">p10111003@gmail.com</div>
      <div class="phone">0975090516</div>

      <h1>
        <div class="zh_language">語言</div>
      </h1>
      <div class="french_fries"></div>


      <div class="language_content">中文</div>
      <div class="progress round-conner">
          <div class="curRate1 round-conner"></div>
        </div>
      <div class="proportion">60/100</div>

      <div class="language_content">英文</div>
      <div class="progress round-conner">
        <div class="curRate2 round-conner"></div>
      </div>
      <div class="proportion">20/100</div>

      <h1>
        <div class="zh_language">技能</div>
      </h1>


      <div class="french_fries"></div>

      <div class="space"></div>

      <div class="myFrame">
        java
      </div>
      <div class="space"></div>


      <div class="progress round-conner">
        <div class="curRate round-conner"></div>
      </div>

      <div class="proportion">40/100</div>

      <div class="space"></div>
      <div class="myFrame">
        Kotlin
      </div>
      <div class="space"></div>
      <div class="progress round-conner">
        <div class="curRate2 round-conner"></div>
      </div>
      <div class="proportion">20/100</div>
      <div class="space_L"></div>
    </div>
  </div>

  <div class="right">
    <div class="myRightView">

        <h1>
            <div class="zh_language">學習經歷</div>
        </h1>
        <div class="french_fries"></div>

        <div class="myMargin">
            <div class="st">大學：台中科技大學 資訊工程系 <br />
                目前在學校研究室學習Android相關內容 <br />
                <br />
                研究歷程：2017年12月20日 - 現在<br />
                基本界面功能學習<br />
                實作簡易BMI計算機APP<br />
                使用BroadcastReceiver製作碼錶APP<br />
                研究Fragment製作頁面分頁<br />
                專案練習_Ginker<br />
                專案製作_使用貝茲曲線製作波形模擬功能<br />
                研究Android BLE使用方法<br />
                專案練習_血糖控制APP<br />
                研究使用Retrofit、OkHttp連接API<br />
                研究使用Firebase傳送手機推播<br />
                研究MVVM架構_使用databinding綁定View<br />
                使用新官方語言Kotlin實作專案Ginker+databinding<br />
                使用Tensorflow套入官方花卉圖庫訓練辨識模組<br />
                使用Inception V3製作辨識APP<br />
            </div>
        </div>
    </div>
  </div>

</body>