
<div class="back">
    <div class="profile">
        <img src="/assets/images/cheer.gif" style="width: 200px; height: auto; ">
    </div>
    
    <div class="view">
      姓名：許柏瑋<br>
      就讀：國立台中科技大學（National Taichung University of Science and Technology.）<br>
      專長：遊戲製作RPG、寫小說、一點點Java、一點C<br>
      <a href="https://nisaseku.blogspot.com/2015/12/blog-post.html">這裡有我的小說唷（雖然很久沒更新了）</a><br>
      未來：想成為一名遊戲設計師，製作一款遊戲，劇情由自己來創作<br>
      或者是可以成為一名小說家，寫出好幾集的冒險故事<br>
      夢想：環遊世界各地，慢慢的存錢，到其他國家去玩<br>
      The world around you is not what it seems.<br>
      <br>
    </div>
<div class="down">
  <div class="IBOX">
    <div class="left">
      <div class="TE">
        <img src="assets/images/Telegram.png" style="width: 100px; height: 100px; ">
      </div>
      <h4 class="text-uppercase m-0">Telegram</h4>
      <a href="http://t.me/Nisaseku?fbclid=IwAR1kuv0O8fgYHu9UL4D0XlyvgKAlQdOYHpDobBQwG5BV_KVRLCbWKDiOUhQ">@Nisaseku</a>
    </div>

    <div class="center">
      <div class="FB">
        <img src="assets/images/Facebook.png" style="width: 100px; height: 100px; ">
      </div>
      <h4 class="text-uppercase m-0">Facebook</h4>
      <a href="https://www.facebook.com/profile.php?id=100000941144007">許柏瑋</a>
    </div>
    
    <div class="right">
      <div class="TW">
        <img src="assets/images/Twitter.png" style="width: 100px; height: 100px; ">
      </div>
      <h4 class="text-uppercase m-0">twitter</h4>
      <a href="https://twitter.com/nisaseku?lang=zh-tw">Bo-wei,shiu</a>
    </div>
  </div>
</div>

</div>