 <head>
    <meta  http-equiv="Content-Type" content="text/html; charset=utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Kevin1111</title>
    <!-- <link rel="stylesheet" href="./page2.component.css"> -->
    </head>
    <body>
       <div class="left">
        <div class="pic">
           <div class="content1">
            <p>
            您好!!
        </p>
            <img src="/assets/images/cheer.gif" alt="個人圖片">
        
            
             <p class="title-m30">  
               陳韋綸
               <br>
                Kevin
                </p>
                <p class="title-m30">
                聯絡資訊
                </p>
            </div>
            <div class="content">
                <b>E. </b><span class="text-m30">Kevin8701111@gmail.com</span>
                  <br>
                   <b>P. </b><span class="text-m30">0980508186</span><br>
                   <p class="title-m30">語言能力</p>
            </div> 
        </div>
        <div style="text-align:center;clear:both">
    <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
    <script src="/follow.js" type="text/javascript"></script>
    </div>
        <div>
      <div class="contentload">
          <div>
            <ul>
                <li><span class="expand Chinese"></span><em>Chinese()</em></li>
                <li><span class="expand English"></span><em>English</em></li>
                 <li><span class="expand C"></span><em>C</em></li>
                 <li><span class="expand Python"></span><em>Python</em></li>
            </ul>
            </div>
        </div>
    </div>  
        </div>  
        
        
        <div class="right">
         <div class="pic">
            <div class="content">
                <p class="title-m30">
                學歷經歷
                </p>
            </div>
            <div class="content">
                <p class="text-m30l">高中到大學<br>
                                       沙鹿高工<br>
                                       台中科大<br>
                 </p>
                   <p class="title-m30">工作經歷</p>
            </div>
            <div class="content">
                <p class="text-m30l">高中到大學<br>
                  大魯桶<br>
                  星響道<br>
                  元凱資訊<br></p>
                   <p class="title-m30">特殊經歷</p>
            </div>
            <div class="content">
                <p class="text-m30l">沒有經歷<br>
                  無<br>
                  
            </div>
        </div>
        </div>    
        
        
    </body>

